@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
    font-weight: 900;
    padding-bottom: 80px;
    text-align: center;
    background-color: #B0E0E6;
    margin: 10%;
}

p {
    text-align: center;
    font-weight: bolder;
    text-shadow: -0.1px -0.1px 0 #FFFAFA, 0.1px -0.1px 0 #FFFAFA, -0.5px 0.5px 0 #FFFAFA, 0.5px 0.5px 0 #FFFAFA;
}

.coaching {
  margin: 10%;
}

.nav-item {
  background-color: #343A40;
}

.nav-link:hover {
  background-color: #034f82;
}

.contact-text {
    margin: 10%;
    text-align: center;
}

.bannor {
    background-size: 900px 700px;
    margin: auto;
    text-align: center;
}

.our-content {
    font-family: 'Raleway', sans-serif;
    color: #000080;
    max-width: 70%;
    margin: auto;
    line-height: 2.5em;
    padding-top: 71px;
    padding-bottom: 80px;
    /*background-color: red; */
    background-image: url(../images/TorreInvertido3.JPG);
    background-size: fill;
    background-position: center center;
r   
}

button:hover {
	background-color: orange;
}

ul.navigation, ul.option-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;

}

ul, .page-body {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B0E0E6;

}

#fixed-menu
{
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #f00;
    padding: 10px;
}

.spacer
{
    width: 100%;
    height: 7%;
}

.option-bar {
  /*This part fixes it to the top of the page*/
  font-family: "Raleway", Gadget, sans-serif;
  font-size: 18px;
  font-weight: 500;
  /*text-transform: uppercase;*/
  position: fixed;
  height: 7%;
  top: 0;
  right: 0;
  float: right;
  /*width: 100%;*/
}

.option-bar li {
  float: left;
}

li .product-bar {
  float: right;
  padding: 14px 16px;
}

.navigation li {
  float: left;
  padding: 14px 16px;
  border: 1px red solid;
}

li .page-text {
  float: left;
  /*padding: 14px 16px;*/
}

.active {
  background-color: #00008B;
  color: black;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  /*font-weight: 700;*/
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
  color: #000080;
  font-family: Papyrus; 
  font-size: 3.5rem;
  font-weight: 1000;
  text-shadow: -1px -1px 0 #FFFAFA, 1px -1px 0 #FFFAFA, -1px 1px 0 #FFFAFA, 1px 1px 0 #FFFAFA;
}

h2, h3 {
  text-align: center;
  color: #000080;
  font-family: Papyrus; 
  font-size: 2.5rem;
  font-weight: 1000;
  text-shadow: -1px -1px 0 #FFFAFA, 1px -1px 0 #FFFAFA, -1px 1px 0 #FFFAFA, 1px 1px 0 #FFFAFA;
}

.input-group {
  padding-top: 50px;
}

.art-container {
  border: 0px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.button-container {
  display: flex;
  border: 0px solid black;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.product-container img {
  margin: 10px;
  box-shadow: 0px 10px 50px rgba(0,0,0, 0.7);
}

.product-container img:hover {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

span {
  margin: auto;
}

/*------------------------------------*/

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 7%;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    /*background: transparent url(../images/image-asset4.jpeg) repeat top left; */
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 7%;
    left: 0px;
    color: transparent;
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: repeat-y;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}

.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    padding: 0;
    line-height: 200px; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/1.jpg);
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/2.jpg); 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/3.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/4.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/5.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../images/6.jpg);
    animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    12% { opacity: 1 }
    15% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
  opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}

/*Scale up image a bit and rotate it slightly*/
@keyframes imageAnimation { 
  0% {
      opacity: 0;
      animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      /*transform: scale(1.05);*/
      animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      /*transform: scale(1.1) rotate(3deg);*/
  }
  25% {
      opacity: 0;
      /*transform: scale(1.1) rotate(3deg);*/
  }
  100% { opacity: 0 }
}

/*Title will slide in from the right*/
/*@keyframes titleAnimation { 
  0% {
      opacity: 0;
      transform: translateX(200px);
  }
  8% {
      opacity: 1;
      transform: translateX(0px);
  }
  17% {
      opacity: 1;
      transform: translateX(0px);
  }
  19% {
      opacity: 0;
      transform: translateX(-400px);
  }
  25% { opacity: 0 }
  100% { opacity: 0 }
}*/