{% extends 'base.html' %}

{% block content %}

<br><br>
<h1>AlbuGierke Environmental Solutions, LLC</h1>

<p>AlbuGierke Environmental Solutions, LLC, is an environmental consulting company with a specialty in groundwater and computer science capabilities. We take pride in our work and we do projects that require a highly specialized yet broad skillset for government entities, municipalities, contractors and private landowners. Founded in 2017, AlbuGierke Environmental Solutions, LLC is a HUBzone Woman Owned Small Business.</p>

<h3>Services Include:</h3>
<ul class="page-body">
	<li>Environmental monitoring</li>
	<li>Stream and wetland restoration</li>
	<li>Hydrogeologic, wetland and vegetation mapping</li>
	<li>Contaminant mapping</li>
	<li>Data analysis and interpretation</li>
	<li>Database creation and management</li>
	<li>GIS analysis</li>
	<li>Stable isotope geochemistry</li>
	<li>MODFLOW model execution</li>
	<li>Presentation of technical and training material</li>
</ul>

<h3>Computer Capabilities:</h3>

<ul>
	<li>Python</li>
	<li>MySQL</li>
	<li>SQL Server </li>
	<li>QGIS </li>
	<li>Grass GIS</li>
	<li>MATLAB</li>
	<li>R</li>
</ul>

<h3>NAICS Codes:</h3>

<ul>
	<li>541620- Environmental Consulting Services</li>
	<li>54162- Environmental Consulting Services </li>
	<li>813312- Environment, Conservation and Wildlife Organizations </li>
	<li>518210- Data Processing, Hosting, and Related Services </li>
	<li>541320- Landscape Architectural Services </li>
	<li>541370- Surveying and Mapping (except Geophysical) Services </li>
	<li>541690- Other Scientific and Technical Consulting Services </li>
	<li>562910- Remediation Services </li>
</ul>

<br>
<h2>Points of Contact:</h2>

<p>President: Courtney Day-Gierke <br>	
Email: albugierke.environmental@gmail.com <br>	
Phone: 505-259-5761 <br>	
<br>	
CEO: Casey Gierke <br>
Email: albugierke.environmental@gmail.com<br>
Phone: 505-490-1893</p>

{% endblock content %}
