{% extends 'base.html' %}

{% block content %}
	<!-- Page specific menu -->

	{% load static %}
	
	<br>
	<h1>Coaching</h1>
	<p class="coaching">We know programming can seem really difficult or scary, we all were 
		there not so long ago. It doesn’t have to be if you are willing and able to ask for 
		help and YOU are here so YOU are able to break down those mental barriers. We all 
		can understand most concepts if they are broken down for us enough that we can follow 
		the process at hand! <br>
		<br>
		During our sessions together, we will use our palm-sized-globe (PSG) strategy to learn 
		each new concept. With this strategy, any aspect that isn't crystal clear to you, we 
		will stop, and we encourage you to stop us at any time, rotate the globe, and we will 
		offer you an explanation of the concept from another perspective. <br>
		<br>
		Whether you want to improve your coding skills, learn how to automate processes, get 
		into a coding bootcamp, deal with large data sets, create websites to build up your 
		portfolio, or ace your classes, we will be there to help you succeed. Our areas of 
		expertise are:</p>
	<ul class="page-body">
		<li><h3>Python</h3></li><br>
		<li><h3>SQL</h3></li><br>
		<li><h3>Data Processing</h3></li><br>
	</ul>
	<br>
	<p>My objectives are focused on you, your education, your future and your career and 
		because I take that very seriously, I prefer to give you a free consultation (up 
		to 30 min) to help you decide if we are going to be the right fit for each other. 
		I am truly excited to speak with you and can’t wait to get started working with 
		you to achieve your goals! <br>
		<br>
		- Casey Gierke, CEO</p> 
	<br>

	<img src="{% static 'images/i-win.JPG' %}" height=600>

	<br><p class="contact-text">We would love to hear from you.  If you would like to get in touch with us to discuss how to kick start your programming career, please take action and email or call us now<br>505-490-1893 <br><a href="mailto:albugierke.environmental@gmail.com">albugierke.environmental@gmail.com</a></p>

{% endblock content %}