

{% extends 'base.html' %}

{% block content %}
	<!-- Page specific menu -->

	{% load static %}
	<br>
	<h1>Points of Contact:</h1><br>

	<p>President: Courtney Day-Gierke <br>
	Email: albugierke.environmental@gmail.com <br>	
	Phone: 505-259-5761 <br>	
	<br>	
	CEO: Casey Gierke <br>
	Email: albugierke.environmental@gmail.com<br>
	Phone: 505-490-1893</p>

	<br><br><h1>How can we help you?</h1>  
	<p class="long-text">Our CEO, Casey Gierke, has a master's of science in 
		hydrogeology.  In addition to technical environmental 
		science skills, he has a passion for computer programming 
		and solving challenging process related problems.  We have worked with huge 
		datasets, worked with and developed databases with myriad data types, written 
		basic software to streamline common processes or to work around proprietary 
		software limitations, automated rote tasks, automated complex tasks...<br><br>
		I would love to talk to you about my products and services and how we might 
		work together.</p>
	
	<img src="{% static 'images/i-win.JPG' %}" height=600>

	<p class="long-text">We would love to hear from you.  If you would 
	like to get in touch with us to discuss a potential project or 
	to engage our services, please take action and email or call 
	now<br>505-490-1893 <br><a href="mailto:albugierke.environmental@gmail.com">albugierke.environmental@gmail.com</a></p>

{% endblock content %}
