{% extends 'base.html' %}

{% block content %}

<!-- Begin the cool slideshow -->
<!-- Cool background is done with css taken from
https://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/comment-page-7/#comments
 -->

<div>
	<ul class="cb-slideshow">
		<li>
			<span>Image 01</span>
			<div>
				<h2>Nature takes many forms</h2>
			</div>
		</li>
		<li>
			<span>Image 02</span>
			<div>
				<h2>Water gives life</h2>
			</div>
		</li>
		<li>
			<span>Image 03</span>
			<div>
				<h2>Wherever it may flow</h2>
			</div>
		</li>
		<li>
			<span>Image 04</span>
			<div>
				<h2>Against any challenge</h2>
			</div>
		</li>
		<li>
			<span>Image 05</span>
			<div>
				<h2>Persistence brings progress</h2>
			</div>
		</li>
		<li>
			<span>Image 06</span>
			<div>
				<h2>Let us help plan for the future</h2>
			</div>
		</li>

	</ul>
</div>

{% endblock content %}
