{% extends 'base.html' %}

{% block content %}

<!-- Begin the cool slideshow -->

<div>
	<ul class="cb-slideshow">
		<li>
			<span>Image 01</span>
			<div>
				<h3>Nature has many forms</h3>
			</div>
		</li>
		<li>
			<span>Image 02</span>
			<div>
				<h3>Water gives life</h3>
			</div>
		</li>
		<li>
			<span>Image 03</span>
			<div>
				<h3>Where ever it may flow</h3>
			</div>
		</li>
		<li>
			<span>Image 04</span>
			<div>
				<h3>Against any challenge</h3>
			</div>
		</li>
		<li>
			<span>Image 05</span>
			<div>
				<h3>Persistence brings progress</h3>
			</div>
		</li>
		<li>
			<span>Image 06</span>
			<div>
				<h3>Plan for the future</h3>
			</div>
		</li>
		
	</ul>
</div>

{% endblock content %}
